<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simonmeng.demo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".apistore.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.WeatherActivity" />
        <activity
            android:name=".activity.NewsActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activity.DownloadActivity" />
        <activity android:name=".activity.VideoOnlineActivity" />
        <activity android:name=".activity.RecipeActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.AboutMeActivity" />
        <activity android:name=".activity.StandbyActivity" />
        <activity android:name=".activity.SearchWeatherActivity" />
        <activity android:name=".activity.ErrorPageActivity"></activity>
    </application>

</manifest>
